@mixin targetClonePosition {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

// 루트 컨테이너
.so-typeahead-root {
    display: inline-block;

    .so-typeahead-input-content {
        position: relative;
        display: inline-block;

        // 텍스트 인풋 힌트
        .so-typeahead-hint {
            @include targetClonePosition;
            transform: translate(0, -50%);
        }

        .so-typeahead-input {
            @include targetClonePosition;
            z-index: 1;
        }

        // 목록 컨테이너
        .so-typeahead-list {
            display: none;
            position: absolute;
            top: calc(100% - 2px);
            left: 0;
            width: 100%;
            z-index: 10000;
            border: 1px solid #ddd;
            background-color: white;
            box-sizing: border-box;

            &.show {
                display: block
            }

            // 목록 아이템
            .so-typeahead-item {
                padding: 5px 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}